{% extends 'home.html' %}
{% load static %}

{% block title %}Sign Up{% endblock  %}

{% block css %}
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}? {% now "U" %}">
{% endblock  %}

{% block content %}

<p>{{error}}</p>

<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <h3>Enter an user name: </h3>
        <input type="text" name='username'>
        <h3>Enter a password: </h3>
        <input type="password" name='password1'>
        <h3>Re-enter the password: </h3>
        <input type="password" name='password2'> <br>
        <button class='nav-link'>Submit</button>
    </form>
</div>


{% endblock  %}


